#listaGrupoMuscular .card{margin-bottom: 5px}
#listaGrupoMuscular .card .card-header{padding: 0; border-bottom: none; }
#listaGrupoMuscular .card .card-header a{padding: .75rem 1.25rem .70rem;  display: block;}
#listaGrupoMuscular .card .card-header a:active,
#listaGrupoMuscular .card .card-header a:hover{text-decoration: none}

#listaGrupoMuscular .card .card-header a i.iconRight{position: absolute; right: 14px;  font-size: 20px;  }

[data-toggle="collapse"] .fa:before {  content: "\f139"; }

[data-toggle="collapse"].collapsed .fa:before { content: "\f13a"; }